@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding-top: 5rem;
    font-family: 'Nunito', 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.section1{
    width: 100%;
}

.section2{
    height: 88vh;
    width: 80%;
}

.section2 img{
    width: 100%;
    height: 100%;
}

label{
    font-weight: bold;
}

input[type='text'], select, textarea{
    color:#39393a;
    font-weight: 500;
    border-radius: 5px;
    padding:10px;
    border:1px solid rgba(57, 57, 58, 0.1);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.03);
    border-radius: 4px;    
}

input[type='file'] {
    font-weight: 500;
}
input:focus, select:focus, textarea:focus{
    outline-style:solid;
    outline-width: 5px;
    outline-color: rgba(255, 133, 82, 0.1);
}
input[type='text']{
    height: 38px;
}
input:valid, textarea:valid, select:valid{
    box-shadow: 0 0 2px rgba(80, 174, 160,0.3);
    background-color:rgba(80, 174, 160,0.1);
}
select{
    background-color:white;
}
.badge-pill:hover{
    font-size: 1.06rem;
}
textarea{
    resize: vertical;
    height:75px;
}

.form-group textarea, .form-group select{
    border:1px solid rgba(57, 57, 58, 0.1);
}
#submit-button{
    margin-top: 30px;
    background-color:#297373;
    color:#e6e6e6;
    font-weight: 500;
}

#submit-button:hover{
    background-color:#39393a;
}

#registration-form{
    padding: 1.5rem 8rem 1.5rem 1.5rem;
    margin-bottom:1rem;
    background-color:#fff;
    border-radius: 5px;
}

.form-row .sm-padding-right{
    padding-right: 2rem;
}

.cars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card img{
    height: 280px;
    max-height: 100%;
}

.card .icon{
    width: 1.75rem;
    height: 1.5rem;
    padding-bottom: .125rem;
}

.view-car{
    display: flex;
    flex-direction: row;
}

.price-type{
    display: flex;
    flex-direction:row;
    gap: 1rem;
}

#view-car-img{
    height: 25rem;
}

.flash-msgs{
    padding-top:15px;
    margin-bottom:1rem;
    text-align:center;
}

.explore label{
    width:fit-content;
}


/*********PROFILE PAGE********/

.profile-page{
    padding: 1rem 6rem 1rem 6rem; 
}
.profile-container{
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0.35rem solid #2E294E;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.profile-left{
    min-width: 200px;
}

.profile-right{
    padding-bottom: 25px;
    padding: 1rem 12.5rem 5rem 1rem;
}

.profile-right h2{
    font-size: 18px;
}

.purple{
    color: #2E294E;
}
.bio{
    font-weight: 600;
}
.user-info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 25rem;
    font-weight: 800;
}

.img-container{
    width: 10rem;
    height: 10rem;
}

/******END PROFILE PAGE******/


.bold{
    font-weight: 800;
}

/******FLASH MESSAGE******/
.flash{
    background-color: #28a745;
    width: fit-content;
    border-radius: 0.25rem !important;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.not-found{
    padding-top: 40px;
}
.not-found h1, .not-found p{
    text-align:center;
}
.not-found h1{
    font-size:64px;
    margin:75px 0 50px;
}
.not-found p{
    font-size:24px;
    margin:15px 0;
}
