@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins&display=swap');


:root {
    --color-1: #2e294e;
    --color-2: #E4b363;
    --color-3: #048a81;
    --body-background: #f0f0f0;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', 'Poppins', sans-serif;
    background-color: var(--body-background);
}

#website-name{
    font-weight:700;
    margin-left: 0.5rem;
    font-size: 16px;
}
.section1{
    width: 100%;
    text-align: left;
    text-decoration: solid;
    padding-top: 10rem;
    margin-right: 80px;
}

.site-info p{
    color:#505050;
}

:root {
    --color-1: #2e294e;
    --color-2: #E4b363;
  }

.section2{
    height: 100vh;
    width: 100%;
}

.section2 img{
    width: 100%;
    height: 100%;
}
    
h1{
    font-weight: 800;
    color: #000;
}
.navbar{
    background-color: var(--color-3);
    padding: 0.3rem 1rem;
}

#navbarSupportedContent{
    font-weight: 600;
    font-size: 15px;
}

.btn{
    background-color: var(--color-2);
    padding: 5px 28px;
    color: white;
    font-weight: 700;
}

.user-auth .register-btn{
    color: black;
    margin-right: 5rem;
}

.user-auth .login-btn{
    
    background-color: black;
}

.user-auth .register-btn:hover{
    background-color: var(--color-3);
    color: white;
}

.user-auth .login-btn:hover{
    background-color: var(--color-3);
    color: white;
}


.container.col-md-8.offset-md-2{
    padding-top: 3rem;
}

.font-weight-bold.text-center.registration-header{
    margin-right:12rem;
    text-align: left;   
}

#registrationForm{
    padding-top: 2rem;
    border: solid white;
    background-color: #fff;
    padding-left:3rem ;
    padding-right:3rem ;
    padding-bottom: 3rem;
    border-radius:15px;
    box-shadow: 5px 10px 8px #f0f0f0;
 
}

.btn.register{
    margin-right: 30rem;
    padding-left: 2rem;
    margin-left:1px;
}

.container.col-md-8.offset-md-2{
    padding-top: 3rem;
}

.font-weight-bold.text-center.addCar-header{
    text-align: left;   
}

#addCarForm{
    padding-top: 2rem;
    border: solid white;
    background-color: #fff;
    padding-left:3rem ;
    padding-right:3rem ;
    padding-bottom: 3rem;
    border-radius:15px;
    box-shadow: 5px 10px 8px #f0f0f0;
}

#addCar-page{
    height: 100vh;
}

#loginForm{
    border: 1ch;
    width: 50%; 
    border: solid white;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 5px 10px 8px #f0f0f0;
    border-radius:10px;
}

.login-form-container.center-block> h2{
    font-weight:bold;
    letter-spacing: -3px;
    word-spacing: 3px;
    white-space: nowrap;
    margin-bottom: 1rem;
}
.login-form-container{
    margin-top: 8rem;
}
label{
    font-weight: bold;
}

input[type='text'], select, textarea{
    color:#39393a;
    font-weight: 500;
    border-radius: 5px;
    padding:10px;
    border:1px solid rgba(57, 57, 58, 0.1);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.03);
    border-radius: 4px;    
}

input[type='file'] {
    font-weight: 500;
}
input:focus, select:focus, textarea:focus{
    outline-style:solid;
    outline-width: 5px;
    outline-color: rgba(255, 133, 82, 0.1);
}
input[type='text']{
    height: 38px;
}
input:valid, textarea:valid, select:valid{
    box-shadow: 0 0 2px rgba(80, 174, 160,0.3);
    background-color:rgba(80, 174, 160,0.1);
}
select{
    background-color:white;
}
.badge-pill:hover{
    font-size: 1.06rem;
}
textarea{
    resize: vertical;
    height:75px;
}

.form-group textarea, .form-group select{
    border:1px solid rgba(57, 57, 58, 0.1);
}
.submit-button{
    margin-top: 0.8rem;
    background-color: var(--color-1);
    color: white;
}

.submit-button:hover{
    background-color: var(--color-2);
    color:#000;
}

#registration-form{
    padding: 1.5rem 8rem 1.5rem 1.5rem;
    margin-bottom:1rem;
    background-color:#fff;
    border-radius: 5px;
}

.form-row .sm-padding-right{
    border-right: 2rem solid white;
}

.search-btn{
    background-color: var(--color-1);
    color: white;
}

.search-btn:hover{
    background-color: var(--color-3);
    color: white;
}
.cars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#price-tag{
    background-color: var(--color-2);
    color: var(--color-1) !important;
}

.card img{
    height: 280px;
    max-height: 100%;
}

.card .icon{
    width: 1.75rem;
    height: 1.5rem;
    padding-bottom: .125rem;
}

.view-car{
    display: flex;
    flex-direction: row;
}

.price-type{
    display: flex;
    flex-direction:row;
    gap: 1rem;
}

#view-car-img{
    height: 25rem;
}

.flash-msgs{
    padding-top:15px;
    margin-bottom:1rem;
    text-align:center;
}

.explore label{
    width:fit-content;
}

.explore{
    margin-top: 5rem;
    width: 90%;
}
.card-body *{
    font-weight: 700;
}

.card-footer.btn{
    background-color: var(--color-1);
    color: white;
}

.card-footer.btn:hover{
    background-color: var(--color-3);
    color: white;
}
#price-tag{
    height: 1.8rem;
    margin-top: 2px;
}
#price{
    font-weight: 900;
    letter-spacing: 1px;
}
/***********VIEW CAR PAGE*******/

.view-car-container{
    margin-top: 6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 6px;
    max-width: 80%;
}
.view-car-img-container{
    border-radius: 6px;
    max-width: 40%;
}
#view-car-img{
    border-radius: 6px 0 0 6px;
    width: 100%;
    height: 100%;
}
.view-car-info-container .year-make{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
    color: black;
}
.view-car-info-container .model{
    color: #606060;
    font-weight: 700;
    font-size: 18px;
}
.view-car-info-container .description{
    font-weight: 600;
}
.additional-info{
    display:grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    font-weight: 700;
}

.gray{
    color: #606060;
}

/* PHONE */
@media only screen and (max-width: 768px) {

    .view-car-container{
        flex-direction: column;
    }
    .view-car-img-container{
        max-width: 100%;
    }
    .additional-info{
        grid-template-columns: 1fr 1fr;
    }
    .additional-info .value{
        margin-left: 2rem;
    }
    /* HOME PAGE */
    #home-page-container{
        flex-direction: column;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
    .section2{
        margin-top: 5rem;
        height: 15rem;
    }
    .section1{
        padding-top: 2rem;
    }
    .register-btn{
        padding-right: 1rem;
    }
    .user-auth{
        width: 100% !important;
    }

    /* LOGIN FORM */
    #loginForm{
        width: 100%;
    }
}

/* IPAD & LAPTOP */
@media only screen and (min-width: 768px) {

}

/********END VIEW CAR PAGE******/


/*********PROFILE PAGE********/

.profile-page{
    margin-top: 5rem;
    padding: 1rem 6rem 1rem 6rem;
    height: 100vh; 
}
.profile-container{
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0.35rem solid #2E294E;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.profile-left{
    min-width: 200px;
}

.profile-right{
    padding-bottom: 25px;
    padding: 1rem 12.5rem 5rem 1rem;
}

.profile-right h1{
    color: var(--color-1);
}
.profile-right h2{
    font-size: 18px;
}

.bio{
    font-weight: 600;
    color: #303030 !;
}
.user-info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 25rem;
    font-weight: 800;
}

.img-container{
    width: 10rem;
    height: 10rem;
}

/******END PROFILE PAGE******/


.bold{
    font-weight: 800;
}
#heart-container{
    height: 30px;
    width: 30px;
}
.heart{
    width: 15px;
    height: 15px;
}
.home-btn{
    
    color: #fff;
}
.home-btn:hover{
    color: #fff;
    text-decoration-line: none;
}

/******FLASH MESSAGE******/
.flash{
    background-color: #28a745;
    width: fit-content;
    border-radius: 0.25rem !important;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.not-found{
    padding-top: 40px;
}
.not-found h1, .not-found p{
    text-align:center;
}
.not-found h1{
    font-size:64px;
    margin:75px 0 50px;
}
.not-found p{
    font-size:24px;
    margin:15px 0;
}
