{% extends "base.html" %}

{% block main %}

<div id="home-page-container" class="d-flex">
    <section class="section1">
        <div class="site-info">
            <h1>Buy and sell cars online</h1>
            <p>United auto sales provides the fastest,  </p>
        </div>
        <div class="user-auth d-flex">
            <button class="btn">Login</button>
            <button class="btn ml-3">Register</button>
        </div>
    </section>
    <section class="section2">
        <img src="../static/imgs/display_car.jpg" alt="A beautiful car">
    </section>
</div>

{% endblock %}

