{% extends "base.html" %}

{% block main %}

<div class="container col-md-8 offset-md-2" id="registration-page">
    <h1 class="font-weight-bold text-center registration-header">Register New User</h1>
       <form method="post" @submit.prevent="register_user" id="registrationForm">
        <div class="form-row">  
            <div class="form-group col-md-6 sm-padding-right">
                <label for="username">Username</label><br>
                <input type="text" name="username" class='form-control'/> 
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label><br>
                <input type="password" name="password" class='form-control'/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 sm-padding-right">
                <label for="fullname">Fullname</label><br>
                <input type="text" name="fullname" class='form-control'/> 
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label><br>
                <input type="text" name="email" class='form-control'/>
            </div>
        </div>
        <div class="form-group col-md-6 sm-padding-right">
            <label for="location">Location</label><br>
            <input type="text" name="location" class='form-control'/>
        </div>
        <div class="form-group col-md-6">
            <label for="biography">Biography</label><br>
            <textarea cols="50" rows="2" name="biography" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="photo"><b>Upload Photo</b></label><br>
            <input type="file" name="photo"/> 
        </div>
        <div class="text-center">
            <button type="submit" id="submit-button" class="btn bg-info">Register</button>
        </div>
    </form>
</div>
{% endblock %}


